@import 'variables.css';
@import 'open-sans.css';
@import 'reset.css';
@import 'header.css';
@import 'footer.css';
@import 'our-history.css';
@import 'gallery.css';
@import 'contact.css';
@import 'register.css';
@import 'home.css';
@import 'login.css';
@import 'error.css';

main {
    min-height: calc(100vh - 463px);    
}


/* Aqui começa o Header */


/*Aqui termina o Header*/

/*aqui começa o footer */




/*mobile first*/
/*breakpoint*/
/*tablet ou celular landscape */
@media (min-width: 576px) {

}

/* desktop */
@media (min-width: 768px) {
    
}

/*large desktop */
@media (min-width: 992px) {
    
}

/*extra large desktop*/
@media (min-width: 1200px) {
    
}